<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumary</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/blog.css">
</head>

<body>
    <!-- Heaser Area Start -->
    <header class="header-area">
        <!-- Navigation start -->
        <nav class="navbar navbar-custom tb-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tb-nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo page-scroll notranslate" translate="no" href="#top">
                        <!-- <h2>res<span>oo</span>mer</h2> -->
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="tb-nav-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./homepage" title="Trang chủ">Trang chủ</a></li>
                        <li><a href="./login" title="Đăng nhập">Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row" id="headerFeature">
        <!-- Hero Title -->
        <h1>BLOG</h1>
    </div>
    <br>
    <!-- Main Content-->
    <div class="container">
        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>


        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>


        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>


        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>


        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>


        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>


        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>


        <div class="blog_post">
            <div class="blog_postcontent">

                <div class="image_frame small"><a href="#"><img src="/app/static/image/sample.png" alt="" /></a></div>
                <div class="post_info_content_small">

                    <a href="#" class="date"><strong>26</strong><i>Tháng 12</i></a>
                    <h1><a href="#">Hướng dẫn sử dụng công cụ của chúng tôi</a></h1>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><a href="#">Admin</a></li>
                        <li class="post_comments"><a href="#">0 bình luận</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>Để giúp bạn tóm tắt và phân tích các văn bản tranh luận, bài viết, văn bản khoa học, văn bản lịch
                        sử cũng như phân tích cấu trúc công việc của bạn, Resoomer cung cấp cho bạn "Công cụ tóm tắt văn
                        bản": một công cụ giáo dục xác định và tóm tắt những ý tưởng và sự kiện quan trọng của tài liệu
                        của bạn. Tóm tắt trong 1-Click, đi đến ý chính hoặc đọc lướt qua để sau đó bạn có thể phân tích
                        diễn giải các văn bản của bạn một cách nhanh chóng và phát triển các tổng hợp của bạn.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>
    </div>
    <!-- Footer Section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row mt-30 mb-30">
                <div class="col-md-12 text-center">
                    <!-- Footer Copy Right Text -->
                    <div class="copyright-info">
                        <!-- <a href="#" onclick="return false;">Res<b><span>oo</span></b>mer là một dự án được mã hóa với
                            <span><i class="fa fa-heart"></i></span>
                        </a>
                        <br /> -->
                        <!-- <a href="#" onclick=""> | </a> -->
                        <a href="#" onclick="">&copy; 2022 | Bảo vệ quyền sở hữu </a><a href="#">| <u>Thông
                                báo pháp lý</u></a><a href="#"> | <u>Trợ giúp</u></a><a href="#"> | <u>Thương
                                hiệu</u></a>
                    </div>

                    <!-- Footer Social Icons -->
                    <div class="social-icons mt-30">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <b>TAGS</b><br />
                <a href="#" title="Tóm tắt văn bản" class="linkFooter">Tóm tắt văn bản</a> |
                <a href="#" title="Phần mềm tóm tắt văn bản" class="linkFooter">Phần mềm tóm tắt
                    văn bản</a> |
                <a href="#" title="Tóm tắt văn bản tự động" class="linkFooter">Tóm tắt văn bản tự
                    động</a> |
                <a href="#" title="Tóm tắt sách hoặc tài liệu" class="linkFooter">Tóm tắt sách
                    hoặc tài liệu</a> |
                <a href="#" title="Phần mềm tóm tắt văn bản" class="linkFooter">Phần mềm tóm tắt
                    văn bản</a> |
                <a href="#" title="Công cụ tóm tắt văn bản tự động" class="linkFooter">Công cụ
                    tóm tắt văn bản tự động</a>
                <a href="#" title="Tóm tắt" class="linkFooter">Tóm tắt</a> |
                <a href="#" title="Người tóm tắt nội dung" class="linkFooter">Người tóm tắt nội
                    dung</a>
            </p>
        </div>
    </footer>
</body>

</html>